@import url("https://fonts.googleapis.com/css?family=Cabin&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a {
  text-decoration: none;
  color: #333;
}

button {
  border: none;
  background-color: yellow;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

/* Nav bar */
#nav {
  overflow: hidden;
  padding: 16px 20px;
  color: white;
}

/* Logo */
#nav p {
  display: inline;
  font-size: 24px;
}

#menu {
  float: right;
  text-align: center;
  justify-content: center;
}

#menu li {
  display: inline-block;
  margin: 0px 5px;
}

#menu a {
  padding: 5px 10px;
}

#menu a:hover {
  background-color: yellow;
}

/* Home UI */

#home-img {
  animation: 1s ease-out 0s 1 fadeIn;
  position: absolute;
  width: 40%;
  left: 13%;
  top: 25%;
}

#main-slogan {
  animation: 1s ease-out 0s 1 fadeIn;
  position: absolute;
  top: 30%;
  right: 23%;
  font-size: 2em;
  text-shadow: 2px 2px 2px 2px white;
}

#slogan-details {
  animation: 1s ease-out 0s 1 fadeIn;
  position: absolute;
  top: 40%;
  right: 13%;
  font-size: 1em;
}

#slogan-details p {
  text-shadow: 1px 1px 1px 1px white;
}

#main-btn {
  float: right;
}

/* Menu UI */

#menu-container {
  width: 80%;
  margin: 5% 15%;
  display: flex;
}

.menu-item-img {
  animation: 1s ease-out 0s 1 fadeIn;
  width: 60%;
  min-width: 100px;
  min-height: 300px;
  cursor: pointer;
  transition: opacity ease 1s;
}

.menu-item-img:hover {
  opacity: 70%;
}

/* About UI */

#about-container {
  animation: 1s ease-out 0s 1 fadeIn;
  width: 50%;
  margin: auto;
  margin-top: 10%;
  text-align: center;
}

#about-main-text {
  font-size: 2em;
  margin-bottom: 5px;
}

#about-simple-text {
  margin-bottom: 5px;
}
